<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Card</title>
    <link rel="stylesheet" href="/style2.css" />

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="card" class="card">
        <h1>{{ name }}</h1>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Phone:</strong> {{ phone }}</p>
        {{ github }} {{ linkedin }}
        {{ qrImage }}
        <div style="display: none;" id="customCode" >{{ code }}</div>
      </div>

      <div class="btn">
        <a href="/" class="return">Go to home page</a>
        <button id="download-btn">Download Card</button>
      </div>
    </div>

    <script>
      document
        .getElementById("download-btn")
        .addEventListener("click", function () {
          const cards = document.getElementById("card");
    const customCode = document.getElementById("customCode").innerText;
          html2canvas(cards).then((canvas) => {
            const link = document.createElement("a");
            link.download = `${customCode}.png`;
            link.href = canvas.toDataURL("image/png");
            link.click();
          });
        });
    </script>

    <script>
  document.getElementById("qr-download-trigger").addEventListener("click", () => {
    const card = document.getElementById("card");
    const customCode = document.getElementById("customCode").innerText;
    html2canvas(card).then(canvas => {
      const link = document.createElement("a");
      // link.download = "contact-card.png";
      link.download = `${customCode}.png`;

      link.href = canvas.toDataURL("image/png");
      link.click();
    });
  });
</script>
  </body>
</html>
