<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Card Generator</title>
    <link rel="stylesheet" href="/styles1.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Contact Card Generator</h1>
        </div>

        <form action="/" method="post" class="form">
            <input type="text" name="name" placeholder="Name" required> 

            <input name="email" placeholder="Email" required />
          
            <input name="phone" placeholder="Phone" required />
     
            <input name="github" placeholder="GitHub URL (optional)" />
  
            <input name="linkedin" placeholder="LinkedIn URL (optional)" />
  
            <input name="code" placeholder="Custom Code (optional)" />
  
            <button type="submit">Create Contact Card</button>
        </form>
    </div>
</body>
</html>